<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("./includes/navigation") -%>


    <form action="/login" method="post">
        <h2>form new user</h2>
        <p>name</p>
        <input type="text" name="NewUsername">
        <p>email</p>
        <input type="text" name="NewUsername">
        <p>password</p>
        <input type="text" name="NewUsername">
        <button type="submit"></button>
    </form>
    
</body>
</html>